Package: com.saihgupr.remotecompanion
Name: RemoteCompanion
Depends: mobilesubstrate
Version: 2.4.1~beta.1
Architecture: iphoneos-arm64
Description: RemoteCompanion - Unified Tweak component
Maintainer: Saihgupr
Author: Saihgupr
Section: Tweaks
