Package: com.saihgupr.remotecompanion
Name: RemoteCompanion
Depends: mobilesubstrate
Version: 2.4.1~beta.1
Architecture: iphoneos-arm
Description: RemoteCompanion - App component
Maintainer: Saihgupr
Author: Saihgupr
Section: Applications
